/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #fc6b68
$accentColorDark = #fc6b68
$textColor = #2c3e50
$textColorDark = #d5d8dc
$bodyBgColorDark = #110f1b
$borderColor = #eaecef
$bodyFontSize = 16px
$badgeWarningColorDark = #574e21
$codeBgColor = #282c34
